<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light"
			role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="btn-outline-primary" href="/">Poswebsys</a>
				</div>
				
				<div sec:authorize="isAuthenticated()">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item">
							<form name="logoutForm" th:action="@{/logout}" method="post">
								<label>Olá <span sec:authentication="name">Usuário</span></label>
								<input class="btn btn-outline-danger" type="submit" value="Sair" />
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container my-2">
			<h1>Poswebsys</h1>
			<hr>
		</div>
	</div>
</body>
</html>