<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Poswebsys</title>
   <!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
</head>

<body>

<header th:insert="fragments/geral.html :: header"> </header>

<div class="container my-2">
    <h1 th:if="${errorMessage}" th:utext="${errorMessage}">Erro</h1>
    <h1 th:if="!${errorMessage}">404 - Página não encontrada.</h1>
    <a th:href="@{/home}">Voltar para a página inicial.</a>
</div>

</body>
</html>