<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Entrar no Sistema</title>
<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
<link th:href="@{/css/login.css}" rel="stylesheet" />
</head>

<body class="text-center">
	<form class="form-signin" method="POST" th:action="@{/login}">
		<h1 class="h1 mb-3 font-weight-normal">Poswebsys</h1>
		<h2 class="h2 mb-3 font-weight-normal">Entrar no Sistema</h2>
		<div th:if="${param.error}">
			<div class="alert alert-danger">Usuário ou senha inválidos.</div>
		</div>
		<input name="username" type="text" class="form-control"
			placeholder="Usuário" autofocus="autofocus" required="true" /> 
		<input
			name="password" type="password" class="form-control"
			placeholder="Senha" required="true" />
		<input type="hidden"
			name="${_csrf.parameterName}" value="${_csrf.token}" />

		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	</form>
</body>
</html>